body {
  background: #08082d;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 0.021em;
}

a {
    color: #51b8b8;
    text-decoration: none;
}

a:visited {
    color: #51b8b8;
    text-decoration: none;
}

a:hover {
    color: hotpink;
}

a.disabled, a.disabled:visited, a.disabled:hover {
    pointer-events: none;
    color: rgba(255, 255, 255, 0.5);
}

.site-wrapper {
    width: 450px;
    margin: auto;
    padding: 10px;
}

.intro::after {
  content: "";
  clear: both;
  display: table;
}

.intro-left {
    float: left;
}

.intro-right {
    float: right;
}

.intro-tweet-button {
    width: 60px;
}

a.darken {
    display: inline-block;
    background: black;
    padding: 0;
}

a.darken img {
    display: block;
}

a.darken:hover img {
    opacity: 0.7;
}

.definition-zone {
  margin-top: 20vh;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  color: white;
}

.write-your-own {
  margin-top: 20vh;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  color: white;
}

.hint-text {
    font-size: small;
    color: rgba(255, 255, 255, 0.5);
    height: 30px;
    line-height: 30px;
}

.word-loading {
    font-size: small;
    color: rgba(255, 255, 255, 0.5);
    height: 30px;
    line-height: 30px;
}

.word-text {
    font-size: small;
    color: rgba(255, 255, 255, 0.5);
    height: 30px;
    line-height: 30px;
}

.loading-spinner-out {
    margin-left: -30px;
    animation: spin-back 1.5s linear infinite;
}

.loading-spinner-in {
    margin-bottom: 5px;
    animation: spin-forward 1.5s linear infinite;
}

@keyframes spin-forward {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@keyframes spin-back {
    from { transform:rotate(360deg); }
    to { transform:rotate(0deg); }
}

.word-entry {
    border: 0px;
    color: #51b8b8;
    background-color: rgba(255, 255, 255, 0.0);
    resize: none;
    width: 100%;
    font-size: 4em;
    outline: none;
    padding: 0;
    margin: 0;
}

.definition-zone ol {
    padding-inline-start: 20px;
}
.definition-zone ol li {
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.definition-section {
    margin-left: 5px;
    color: white;
}

.definition-zone .syllables {
    font-weight: bold;
    margin-bottom: 0.15em;
    margin-left: 0.1em;
}

.syllable-separator {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.definition-zone .word {
  font-weight: bold;
  font-size: 4em;
  margin-bottom: 0.15em;
}

.definition-zone .pos {
  font-size: small;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 0.1em;
}

.example {
    margin-top: 0.25em;
    font-style: italic;
    color: rgba(255, 255, 255, 0.5);
}

.attribution {
   font-size: small;
   width: 100%;
   position: fixed;
   bottom: 10px;
   background: #08082d;
}

.attribution-section {
    margin-bottom: 0.2em;
}

.disclaimer {
    font-size: x-small;
    color: rgba(255, 255, 255, 0.5);
    font-style: italic;
    margin-top: 5px;
}

@media only screen and (orientation : portrait)  {
    .site-wrapper {
        width: 95%;
    }

    .definition-zone .word {
        font-size: 2.5em;
    }

    .word-entry {
        font-size: 2.5em;
    }

    .definition-zone {
        margin-top: 10vh;
    }

    .write-your-own {
        margin-top: 10vh;
    }
}

@media screen and (max-height: 600px) {
    .definition-zone {
        height: auto;
    }

    .write-your-own {
        height: auto;
    }

    .attribution {
        width: 100%;
        position: static;
    }
}