<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  {% if word_in_title is sameas true %}
    {% if word_exists is sameas true %}
    <title>{{word.word}} - This Word Probably Exists </title>
    {% else %}
    <title>{{word.word}} - This Word Does Not Exist</title>
    {% endif %}
  {% else %}
  <title>This Word Does Not Exist</title>
  {% endif %}
  <meta name="description" content="This Word Does Not Exist uses an artificial intelligence model named GPT-2 to invent new words in the English language.">
  <meta name="author" content="Thomas Dimson">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@robo_define">
  <meta name="twitter:creator" content="@turtlesoupy">
  <meta name="twitter:image" content="https://www.thisworddoesnotexist.com/static/twitter_card_big_title.png">
  <meta property="og:url" content="https://www.thisworddoesnotexist.com">
  {% if word_exists is sameas true %}
    <meta property="og:title" content="{{word.word | escape_double}}: this word probably exists">
    <meta name="og:description" content="1. {{word.definition | remove_period}}. 2. an alternative defined by a machine learning algorithm.">
  {% else %}
    <meta property="og:title" content="{{word.word | escape_double}}: this word does not exist">
    <meta name="og:description" content="1. {{word.definition | remove_period}}. 2. a word invented by a machine learning algorithm.">
  {% endif %}


  <link rel="stylesheet" href="/static/bundle.css">
  <script async type="text/javascript" src="/static/bundle.js"></script>
  <script async type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
  <script>
      {% if word_json %}
      if (history !== undefined) {
        history.replaceState({"word": {{word_json | safe}}, "permalink": "{{permalink | safe}}"}, "");
      }
      {% endif %}

      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-25938904-2');

      var recaptchaCallback;
      function _recaptchaCallback(token) {
        if (recaptchaCallback !== undefined) {
            recaptchaCallback(token);
        }
      }
   </script>
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25938904-2"></script>
   <script async defer src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body>
    <div class="site-wrapper">
        <div class="intro">
            <div class="intro-left">
            &#x1f916; &#x1F4D6;
            </div>

            <div class="intro-right"> 
                <a id="tweet-a" class="darken" href="https://twitter.com/intent/tweet?url={{full_url|quote_plus}}">
                    <img 
                        class="intro-tweet-button" 
                        srcset="/static/tweet_button.png, /static/tweet_button@2x.png 2x"
                        src="/static/tweet_button@2x.png" 
                        height="19"
                        alt="Tweet Button">
                        <div class="overlay"></div>
                </a>
            </div>
        </div>
        <div id="definition-zone" class="definition-zone">
            <div class="inner">
                <div id="definition-pos" class="pos"> 
                    {% if word.pos %}
                    {{word.pos}}{{"" if word.pos.endswith("]") else "."}} 
                    {% endif %}
                </div>

                <div id="definition-word" class="word">{{ word.word }}</div> 


                <div id="definition-syllables" class="syllables">
                    {% if word.syllables and word.syllables|length > 1 %}
                        {{"<span class='syllable-separator'>&middot;</span>".join(word.syllables) | safe}}
                    {% endif %}
                </div>

                <ol>
                    <li>
                        <div class="definition-section">
                            <div id="definition-definition" class="definition"> {{word.definition}} </div>
                            <div id="definition-example" class="example">"{{word.example | strip_quotes}}"</div>
                        </div>
                    </li>

                    <li>
                        <div class="definition-section">
                            <span id="definition-word-no-exist" {{('style="display: none"' if (word_exists is sameas true) else "")|safe}}>
                                a word that does not exist; it was invented, defined and used by a machine learning algorithm. 
                            </span>
                            <span id="definition-word-exists" {{('style="display: none"' if (word_exists is sameas false) else "")|safe}}>
                                a word that <a id="word-exists-link" href="https://www.google.com/search?q={{word.word|quote_plus}}">probably exists;</a>
                                with an alternative definition made by a machine learning algorithm.
                            </span>
                            <br />
                            <a href="/">Generate another word </a> / 
                            <a id="write-button" class="disabled" href="/">Write your own </a>
                        </div>
                    </li>
                </ol>
            </div>
        </div>

        <div id="write-your-own" class="write-your-own" style="display: none;">
            <div id="hint-text" class="hint-text">
                <span id="hint-text-value">hit enter when done </span> (<a id="word-entry-cancel" href="/">cancel</a>)
            </div>
            <div id="word-loading" class="word-loading" style="display: none;">
                <img 
                    class="loading-spinner-in"
                    src="/static/innerRing.png" srcset="/static/innerRing.png, /static/innerRing@2x.png 2x" alt="Loading Spinner (inside)"/>
                <img 
                    class="loading-spinner-out"
                    src="/static/outerRing.png" srcset="/static/outerRing.png, /static/outerRing@2x.png 2x" alt="Loading Spinner (outside)"/>
            </div>
            <form id="word-entry-form">
                <input type="text" id="word-entry" class="word-entry" 
                    autocomplete="off" autocorrect="off" autocapitalize="off" 
                    spellcheck="false" placeholder="word">
            </form> 
            <div class="g-recaptcha"
                data-sitekey="6LcRofQUAAAAAHdgsIPDWafbvcSyhMZplyg3LzS7"
                data-callback="_recaptchaCallback"
                data-size="invisible">
            </div>
        </div>

        <div class="attribution">
            <div class="attribution-section">
                Created by <a href="https://www.thomasdimson.com">Thomas Dimson</a> (<a href="https://twitter.com/turtlesoupy">@turtlesoupy</a>)
            </div>

            <div class="attribution-section"> 
                <a href="https://github.com/turtlesoupy/title-maker-pro">Source code</a>
                 based on 
                <a href="https://openai.com/blog/better-language-models/"> GPT-2</a>
                from <a href="https://huggingface.co/">Transformers</a>
            </div>

            <div class="attribution-section">
                You can <a href="https://www.buymeacoffee.com/turtlesoupy">buy me a coffee</a>
            </div>

            <div class="attribution-section"> 
                Thanks to <a href="http://pamelachen.com/">Pamela Chen</a> and <a href="http://rourkery.com/">Ryan O'Rourke</a>
            </div>

            <div class="attribution-section disclaimer">
                Words are not reviewed and may reflect bias in the training set
            </div>
        </div>
    </div>
</body>
</html>