<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>This Word Does Not Exist</title>
  <meta name="description" content="This Word Does Not Exist uses an artificial intelligence model named GPT-2 to invent new words in the English language.">
  <meta name="author" content="Thomas Dimson">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@robo_define">
  <meta name="twitter:creator" content="@turtlesoupy">
  <meta name="twitter:image" content="https://www.thisworddoesnotexist.com/static/twitter_card_large.png">
  <meta name="og:description" content="1. {{word.definition | escape_double}}. 2. a word invented by a machine learning algorithm.">
  <meta property="og:url" content="https://www.thisworddoesnotexist.com">
  <meta property="og:title" content="{{word.word | escape_double}} - This Word Does Not Exist">

  <link rel="stylesheet" href="/static/bundle.css">

  <script type="text/javascript" src="/static/bundle.js" async></script>
  <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-25938904-2');

      var recaptchaCallback;
      function _recaptchaCallback(token) {
        if (recaptchaCallback !== undefined) {
            recaptchaCallback(token);
        }
      }
    
      {% if word_json %}
      history.replaceState({"word": {{word_json | safe}}, "permalink": "{{permalink | safe}}"}, "");
      {% endif %}
   </script>
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25938904-2"></script>
   <script async defer src="https://www.google.com/recaptcha/api.js"></script>
</head>

<body>
    <div class="site-wrapper">
        <div class="intro">
            <div class="intro-left">
            &#x1f916; &#x1F4D6;
            </div>

            <div class="intro-right"> 
                {% set url = 'https://www.thisworddoesnotexist.com?p=' + permalink %}
                <a id="tweet-a" class="darken" href="https://twitter.com/intent/tweet?url={{url|quote_plus}}">
                    <img 
                        class="intro-tweet-button" 
                        srcset="static/tweet_button.png, static/tweet_button@2x.png 2x"
                        src="static/tweet_button@2x.png" 
                        height="19"
                        alt="Tweet Button">
                        <div class="overlay"></div>
                </a>
            </div>
        </div>
        <div id="definition-zone" class="definition-zone">
            <div class="inner">
                <div id="definition-pos" class="pos"> 
                    {% if word.pos %}
                    {{word.pos}}{{"" if word.pos.endswith("]") else "."}} 
                    {% endif %}
                </div>

                <div id="definition-word" class="word">{{ word.word }}</div> 


                <div id="definition-syllables" class="syllables">
                    {% if word.syllables and word.syllables|length > 1 %}
                        {{"<span class='syllable-separator'>&middot;</span>".join(word.syllables) | safe}}
                    {% endif %}
                </div>

                <ol>
                    <li>
                        <div class="definition-section">
                            <div id="definition-definition" class="definition"> {{word.definition}} </div>
                            <div id="definition-example" class="example">"{{word.example}}"</div>
                        </div>
                    </li>

                    <li>
                        <div class="definition-section">
                            a word that does not exist; it was invented, defined and used by a machine learning algorithm. 
                            <br />
                            <a href="/">Generate another word </a> / 
                            <a id="write-button" href="/">Write your own </a>
                        </div>
                    </li>
                </ol>
            </div>
        </div>

        <div id="write-your-own" class="write-your-own" style="display: none;">
            <div id="hint-text" class="hint-text">
                <span id="hint-text-value">hit enter when done </span> (<a id="word-entry-cancel" href="/">cancel</a>)
            </div>
            <div id="word-loading" class="word-loading" style="display: none;">
                <img 
                    class="loading-spinner-in"
                    src="/static/innerRing.png" srcset="static/innerRing.png, static/innerRing@2x.png 2x" alt="Loading Spinner (inside)"/>
                <img 
                    class="loading-spinner-out"
                    src="/static/outerRing.png" srcset="static/outerRing.png, static/outerRing@2x.png 2x" alt="Loading Spinner (outside)"/>
            </div>
            <form id="word-entry-form">
                <input type="text" id="word-entry" class="word-entry" 
                    autocomplete="off" autocorrect="off" autocapitalize="off" 
                    spellcheck="false" placeholder="word">
            </form> 
            <div class="g-recaptcha"
                data-sitekey="6LcRofQUAAAAAHdgsIPDWafbvcSyhMZplyg3LzS7"
                data-callback="_recaptchaCallback"
                data-size="invisible">
            </div>
        </div>

        <div class="attribution">
            <div class="attribution-section">
                Created by <a href="https://twitter.com/turtlesoupy">Thomas Dimson</a>
            </div>

            <div class="attribution-section">
                Define your own word <a href="https://twitter.com/robo_define">@robo_define</a>
            </div>

            <div class="attribution-section"> 
                Source code <a href="https://github.com/turtlesoupy/title-maker-pro">available</a>
                and based on 
                <a href="https://openai.com/blog/better-language-models/"> GPT-2</a>
            </div>

            <div class="attribution-section"> 
                Thanks to <a href="http://pamelachen.com/">Pamela Chen</a> and <a href="http://rourkery.com/">Ryan O'Rourke</a>
            </div>
        </div>
    </div>
</body>
</html>