<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>This Word Does Not Exist</title>
  <meta name="description" content="This Word Does Not Exist uses an artificial intelligence model named GPT-2 to invent new words in the English language.">
  <meta name="author" content="Thomas Dimson">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@robo_define">
  <meta name="twitter:creator" content="@turtlesoupy">
  <meta name="twitter:image" content="https://www.thisworddoesnotexist.com/static/twitter_card.png">
  <meta name="twitter:description" content="We use artificial intelligence to generate, define and use new English words. One might call it perfectly cromulent">
  <meta property="og:url" content="https://www.thisworddoesnotexist.com">
  <meta property="og:title" content="This Word Does Not Exist">
  <meta property="description" content="This Word Does Not Exist uses an artificial intelligence model named GPT-2 to invent new words in the English language.">



  <link rel="stylesheet" href="static/index.css">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25938904-2"></script>
  <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-25938904-2');
   </script>
</head>

<body>
    <div class="warning">
      This word does not exist:
    </div>

    <div class="definition-zone">
        <div class="inner">
            <span class="word">{{ word.word }}</span> 

            {% if word.pos %}
            <div class="pos"> {{word.pos}}{{"" if word.pos.endswith("]") else "."}} </div>
            {% endif %}

            <div class="definition-and-example">
                <div class="definition"> {{word.definition}} </div>
                <div class="example">"{{word.example}}"</div>
            </div>
        </div>
    </div>

    <div class="attribution">
        <div class="actions">
            <a href="/">Want another word?</a>
        </div>
        <div class="explanation">
            Words are invented, defined and used by a machine learning algorithm
        </div>
        <div class="primary-attribution">
            <div> Model and site by <a href="https://twitter.com/turtlesoupy">Thomas Dimson</a> </div>
            <div> Want to define a word you made up? Check out <a href="https://twitter.com/robo_define">@robo_define</a>
        </div>

        <div class="secondary-attribution">
            <div> Thanks to <a href="http://pamelachen.com/">Pamela Chen</a> for model feedback </div>
            <div> Source code <a href="https://github.com/turtlesoupy/title-maker-pro">is available on Github</a>
            <div> Based on <a href="https://openai.com/blog/better-language-models/">OpenAI's GPT-2 Model</a> </div>
            {% set url = 'https://www.thisworddoesnotexist.com' %}
            <div> Smash that <a href="https://twitter.com/intent/tweet?url={{url|quote_plus}}">Tweet button</a></div>
        </div>
    </div>
</body>
</html>