body {
  background: black;
  color: white;
  font-family: "SF Pro Text","Helvetica Neue",-apple-system,BlinkMacSystemFont,"Helvetica","Segoe UI","Arial",sans-serif;
}

a {
    color: gray;
    text-decoration: none;
}

a:visited {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: hotpink;
}

.warning {
  text-align: center;
  font-size: 8px;
}


.definition-zone {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 70vh;
  display: table-cell;
  vertical-align: middle;
  color: white;
}



.definition-zone .word {
  font-weight: bold;
  font-size: 4em;
}

.definition-zone .pos {
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: small;
}

.definition-and-example {
  font-size: 1em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  max-width: 600px;
}


@media only screen and (orientation : portrait)  {
    .definition-zone {
        height: 55vh;
    }
    .definition-zone .word {
        font-size: 2.5em;
    }

    .definition-zone .pos {
        font-size: small;
    }

    .definition-and-example {
        width: 90vw;
        max-width: 90vw;
    }

}

.example {
    margin-top: 0.25em;
    font-style: italic;
}

.attribution {
    font-size: small;
    width: 100%;
    text-align: center;
}

.explanation {
    margin-bottom: 0.5em;
}

.actions {
    margin-bottom: 0.5em;
}

.secondary-attribution {
    margin-top: 8px;
    font-size: x-small;
}